# API keys and secrets
.env

# Dependency directory
node_modules
bower_components

# Editors
.idea
.vscode

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist
tsconfig.tsbuildinfo

# Build mash
*-debug.log
*-error.log
.buildpack
.heroku
documentation

src/coverage
ormlogs.log

.env.development
.env.test

*.zip

docker/
build/
pdf/

# Sonar
.scannerwork
